<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartmeeting">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Activitys.InviteByEmail"></activity>
        <activity android:name=".Activitys.UserInvited" />
        <activity android:name=".Activitys.StartMeeting"></activity>
        <activity android:name=".Activitys.EndMeeting" />
        <activity android:name=".Activitys.DuringMeeting" />
        <activity android:name=".Activitys.InviteToMeeting" />
        <activity android:name=".Activitys.popup_topic_2" />
        <activity android:name=".Activitys.Agenda" />
        <activity android:name=".Activitys.add_contact" />
        <activity android:name=".Activitys.groups_list" />
        <activity android:name=".Activitys.add_group" />
        <activity android:name=".Activitys.ViewProfile" />
        <activity android:name=".Activitys.EditProfile" />
        <activity android:name=".Activitys.ContactList" />
        <activity android:name=".Activitys.CreateMeeting" />
        <activity android:name=".Activitys.ForgotPassword" />
        <activity android:name=".Activitys.MeetingOverview" />
        <activity android:name=".Activitys.Register" />
        <activity
            android:name=".Activitys.ShowContact"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>